.section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5rem 20rem;
  gap: 2rem;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  &__form {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* flex-grow: 1; */
    gap: 1.1rem;
    padding-bottom: 1rem;
  }

  &__input {
    min-width: 25rem;
  }

  &__register {
    font-size: 2rem;
    border: 1px solid;
    padding: 1rem;
    align-self: center;

    transition: all 0.3s;
  }

  &__register:hover {
    transform: translateY(-2px);
    box-shadow: 0 1.2rem 3.2rem pink;
  }

  &__errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &__offscreen {
    position: absolute;
    left: -9999px;
  }

  &__valid {
    color: limegreen;
    margin-left: 0.25rem;
  }

  &__hide {
    display: none;
  }

  &__invalid {
    color: red;
    margin-left: 0.25rem;
  }

  &__instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
  }

  &__instructions > svg {
    margin-right: 0.25rem;
  }
}

h1 {
  align-self: center;
}
